<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <h1>Blog</h1>
  <h2>First Post</h2>
  <p>Welcome to my blog! This is my first post.</p>
  <h2>Second Post</h2>
  <p>This is my second post. I hope you enjoy it!</p>
  <h2>Third Post</h2>
  <p>Here's my third post. I hope you find it interesting!</p>
</body>